*{
    box-sizing: border-box;
    background-color: white;
}

.header_1{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
}
.image_1 {
    width: 350px;
    height: 250px;
    margin-left: 250px;
    margin-right: 20px;
}

.image_2{
    width: 350px;
    height: 250px;
    margin-left: 40px;
}
.division_1 p{
    padding: 20px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;  
    margin-left: 40px;  
}
.division_1{
    background-color: whitesmoke;
}
.span1{
    font-size: 14px;
    background-color: whitesmoke;
}
.division_1 h4{
    margin-left: 60px;
    font-size: 20px;
}
.form_class{
    margin-left: 60px ;
    
}

.form_class label{
    font-size: 18px;padding: ;
}
.last_div h4{
    font-size: 20px;
    font-weight: lighter;
    margin-left: 50px;
    background-color: whitesmoke;
}
.last_div table{
    padding: 3px;
    margin-left: 50px;
    background-color: whitesmoke;
}

.last_div tr td {
    padding: 5px;
    font-size: 11px;
    background-color: whitesmoke;
}
.last_div tr th {
    padding: 11px; 
    font-size: 12px;  
    background-color: whitesmoke;
}

.div_2{
    outline: 1px solid lightgray;
    margin-left: 60px;
    margin-right: 80px;    
    background-color: whitesmoke;
}
.div_2 p{
    background-color: whitesmoke;
    padding-top: 50px;
}
.div_2 h4{
    background-color: whitesmoke;
}
.form_class{
    background-color: whitesmoke;
}
.form_class label{
    background-color: whitesmoke;
    font-size: 10px;
    
} 
.form_class input{
    background-color: whitesmoke;
    font-size: 10px;
} 
.outer_inner{
    background-color: whitesmoke;
}
.last_div{
    outline: 1px solid lightgrey;
    margin-left: 60px;
    margin-right: 80px;
    margin-top: 20px;
    padding: 15px;
    padding-bottom: 30px;
    background-color: whitesmoke;
    margin-bottom: 20px;
}
.last_div{
    margin-left: 60px ;
    margin-bottom: 20px;
}

table{
    margin-bottom: 20px;   
}
.major_div{
    outline: 2px solid lightgrey;
    background-color: whitesmoke;
    margin-left: 43px;
    margin-right: 45px;
}
