* {
   padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
[href]{
  color: black;
}
[href="./learn.html"]{
  color: white;
  text-decoration: none;
}

#navigation_bar {
  background-color: wheat;
  padding: 30px;
  border: 1px solid black;
  position: sticky;
  top: 0px;
  z-index: 1;
}
#navigation_bar:hover{
  background-color: whitesmoke;
}
#span_1{

  font-size: 16px;
  
}
#span_2{
  margin-left: 250px;
  font-size: 16px;
  
}

#span_3{
  margin-left: 250px;
  font-size: 16px;
}

#span_4{
  margin-left: 250px;
  font-size: 16px;
}
.division_1 {
  outline: 1px dashed whitesmoke;
  background-color: whitesmoke;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 50px;
  padding-bottom: 30px;
  /*background-image: url(./programming_Images/html_jsimages.jpg)  ;
  background-size: 50%;
  background-repeat: no-repeat; */  
}
#image_photo{
  width: 100px;
  height: 130px;
  border-radius: 15px;
  border: 2px solid black;
  position: fixed;
  bottom: 5px;
  right: 10px;
  z-index: 1;
}
#image_photo:hover{
  cursor: pointer;
  transform: rotate(15deg);
}
/*.division_2 {
  outline: 1px solid black;
  background-color: white;
  margin-top: 40px;
  margin-bottom: 30px;
   
}*/


.division_1 h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: cursive;
  margin: 0px auto;  
  border-radius: 30px;
  /*background-image: url(./programming_Images/html_jsimages.jpg) ;*/
  /*width: 550px;*/
  background-color: whitesmoke;
  padding: 20px;
  
  /*outline: 1px solid black;*/
}

.division_1 h1 {
  width: 750px;
}
.division_1 h2 {
  width: 950px;
}

.division_1 h3 {
  width: 250px;
}
.division_1 h4 {
  width: 900px;
}
.division_1 h5 {
  width: 670px;
}
.division_1 h6 {
  width: 290px;
}
.outer_most{
  height: 470px;
  position: static; 
}

.division_2 {
  background-color: whitesmoke;
  outline: 1px solid wheat;
  /*width: 1260px;*/
  height: 460px;
  /*margin: 20px;*/
  padding: 10px;
  position: relative;
  /*background-image: url(./Images/programming_images/programming-structure-image_2230269.jpg);
  background-size: 550px;
  background-repeat: repeat;*/
}
#division_4{
  height: 400px ;
  width: 300px;
 
  position: absolute;
  left: 400px;
  bottom: 10px;
}
.like_minded_tech{
  outline: 1px solid whitesmoke;
  position: absolute;
  right: 50px;
  bottom: 10px;
  height: 400px ;
  width: 450px;
  font-size: 20px;
  font-weight: lighter;
  padding-top: 10px;
  font-family: cursive;
}
.like_minded_tech > p{
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 5px;
}
.like_minded_tech > h6{
  font-size: 20px;
  margin-bottom: 0px;
  padding-left: 0px;
  text-align: justify;
  font-weight: lighter;
  width: 280px;
}
#division_5{
  outline: 1px solid whitesmoke;
  width: 300px;
  height: 400px;
  margin-top: 50px;
  text-align: justify;
  position: absolute;
  left: 70px;
  bottom: 15px;  
}
#division_5 h1{
  font-size: 30px;
  font-style: normal;
  font-family:cursive;
  margin-top: 30px;
  padding-left: 0px;
  padding-bottom: 40px;
}
#image_photo{

}
.p_ande{
  margin-bottom: 40px;
 
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}
#span_apply{
  padding: 20px;
  color: white;
  font-weight: bolder;
  font-size: 15px;
  background-color: grey;
  border-radius: 35px;
}
#span_apply:hover{
  background-color: lightgrey;
}
/*.ordered_1 li {
  padding: 15px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  border: 2px solid black;
  margin: 10px;
  width: 150px;
  box-sizing: border-box;
  list-style: none;
}

.division_2 .paragraph {
  font-size: 20px;
  font-weight: bold;
  margin: 30px 10px;
  width: 450px;
  padding: 20px;
}
.division_2 .paragraph2 {
  font-size: 20px;
  font-weight: bold;
}*/

.division_3 {
  height: 180px;
  outline: 1px solid wheat;
  background-color: wheat;
}
#foot_paragraph{
  text-align: center;
  padding-top: 30px;
}

#span1{
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  font-family: monospace;
}
#span2{
  font-size: 15px;
  font-weight: lighter;
  font-family: monospace;
  width: 300px;
  padding-top: 20px;
  margin-left: 540px;
 
}
#id_email{
  width: 300px;
  height: 40px;
  font-size: 20px;
  font-family: monospace;
  margin-left: 300px ;
}
#Subscribe_email{
  width: 200px;
  height: 40px;
  font-size: 20px;
  font-family: monospace;
  color: white;
  background-color: red;  
}
#Subscribe_email:hover{
  color: blue;
  background-color: lightpink;
}
#horizontal_1{
  width: 100px;
  height: 8px;
  background-color: red;
  margin: 1px auto;
}
#horizontal_2{
  width: 50px;
  height: 8px;
  background-color: red;
  margin: 1px 10px;
}

.divission_div{
  height: 100px;
  background-color: wheat;
}

.section2 {
  background-color: aqua;
  margin: 5px;
}
.footer_div{
  height: 500px;
  background-color: wheat;
  position: relative;
}
.footer_div1 {
  outline: 1px solid wheat;
  margin-top: 70px;
  padding: 40px;
  width: 250px;
  height:400px;
  position: absolute;
  left: 15px;

}
.footer_div2 {
  outline: 1px solid wheat;
  margin-top: 70px;
  padding: 40px;
  width: 250px;
  height:400px;
  position: absolute;
  left: 350px;
}
.footer_div3 {
  outline: 1px solid wheat;
  margin-top: 70px;
  padding: 40px;
  width: 250px;
  height:400px;
  position: absolute;
  right: 400px;
}
.footer_div4{
  outline: 1px solid wheat;
  margin-top: 70px;
  padding: 40px;
  width: 250px;
  height:400px;
  position: absolute;
  left: 1000px;
}
.footer_div1 > ul >li{
  padding: 7px;
  list-style: none;
  padding-left: 9px;
}
.footer_div2 > ul >li{
  padding: 7px;
  list-style: none;
  padding-left: 9px;
}
.footer_div3 > ul >li{
  padding: 7px;
  list-style: none;
  padding-left: 9px;
}
.footer_div4 > ul >li{
  padding: 7px;
  list-style: none;
  padding-left: 10px;
}



.footer_div1 h5{
  text-align: justify;
  font-family: cursive;
  margin: 0px auto;  
  border-radius: 30px;
  margin-bottom: 0px;
  /*background-image: url(./programming_Images/html_jsimages.jpg) ;*/
  /*width: 550px;*/
  background-color: wheat;
  padding: 5px;
}
.footer_div2 h5{
  text-align: justify;
  font-family: cursive;
  margin: 0px auto;  
  border-radius: 30px;
  margin-bottom: 0px;
  /*background-image: url(./programming_Images/html_jsimages.jpg) ;*/
  /*width: 550px;*/
  background-color: wheat;
  padding: 5px;
  padding-left: 0px;
}
.footer_div3 h5{
  text-align: justify;
  font-family: cursive;
  margin: 0px auto;  
  margin-bottom: 0px;
  border-radius: 30px;
  /*background-image: url(./programming_Images/html_jsimages.jpg) ;*/
  /*width: 550px;*/
  background-color: wheat;
  padding: 5px;
}
.footer_div4 h5{
  text-align: justify;
  font-family: cursive;
  margin: 0px auto; 
  margin-bottom: 0px; 
  border-radius: 30px;
  /*background-image: url(./programming_Images/html_jsimages.jpg) ;*/
  /*width: 550px;*/
  background-color: wheat;
  padding: 5px;
}
.footer_div > .footer_div1> ul >li:hover{
  color: white;
  cursor:move;
}
.footer_div > .footer_div2> ul >li:hover{
  color: white;
  cursor:move;
}
.footer_div > .footer_div3> ul >li:hover{
  color: white;
  cursor:move;
}
.footer_div > .footer_div4> ul >li:hover{
  color: white;
  cursor:move;
}
