* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}
.div_list {
  display: flex;
  flex-wrap: wrap;
  margin: 22px;
  line-height: 35px;
  background-color: lightcyan;
  position: sticky;
  top: 0px;
  z-index: 1;
}
.div_list:hover {
  background-color: whitesmoke;
}
.fa-solid fa-code {
  font-size: 420px;
  font-weight: bolder;
}
.list_1 {
  margin-right: 20px;
  display: inline;
  font-weight: bolder;
  font-size: 25px;
}
.div_list > span {
  padding: 30px;
}

.div_list button {
  padding: 15px;
  margin: 15px;
  font-weight: bolder;
  height: 50px;
}
.list_6 {
  margin-left: 30px;
  font-weight: bolder;
  width: 120px;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 0px 5px 5px 5px;
}
.list_7 {
  margin-left: 20px;
  font-weight: bolder;
  background-color: whitesmoke;
  width: 150px;
  color: black;
  border: 1px solid black;
  border-radius: 0px 5px 5px 5px;
}
.list_6:hover {
  background-color: lightcyan;
}
.list_7:hover {
  background-color: lightcyan;
}
.list_5 {
  margin-right: 50px;
}
.list_2,
.list_3,
.list_4,
.list_5 {
  font-weight: lighter;
}
.div2_list {
  /* margin for Learn high in-demand from top*/
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}
.sub_div {
  /* div for Learn high in-demand*/
  outline: 1px solid lightcyan;
  max-height: 500px;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  padding-bottom: 0px;
  margin-right: 120px;
  margin-left: 60px;
  font-family: cursive;
}
.header_5 {
  padding: 10px;
  padding-left: 0px;
  font-family: monospace;
  line-height: 20px;
}
.header_5 strong {
  font-size: 15px;
}

#first_anchor {
  margin-right: 40px;
  margin-left: 80px;
}
#second_anchor {
  margin-right: 40px;
}

.sub_div p {
  font-size: 35px;
  font-weight: bolder;

  line-height: 40px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 10px;
  padding-bottom: 0px;
}
.sub_div h5 {
  padding: 10px;
  padding-top: 0px;
  font-size: 18px;

  font-weight: lighter;
  margin-bottom: 0px;
}
.sub_div span {
  padding: 10px;
}
.fa-whatsapp {
  color: green;
  font-size: 40px;
}
.fa-facebook {
  color: blue;
  font-size: 40px;
}
.fa-twitter {
  color: blue;
  font-size: 40px;
}
.enrol {
  padding: 15px;
  padding-bottom: 15px;
  color: white;
  background-color: blue;
  width: 250px;
  height: 30px;
  font-size: 15px;
  text-align: center;
}

.sub_div1 {
  outline: 1px solid lightcyan;
  max-height: 600px;
}
#image_1 {
  height: 600px;
}
#image_1:hover {
  transform: rotate(-5deg);
}
.explore {
  outline: 1px solid lightcyan;
  max-width: 500px;
  margin-left: 80px;
  max-height: 600px;
  background-color: lightcyan;
  flex-wrap: wrap;
}

.explore_inner {
  font-weight: bold;
  font-size: 30px;
  max-width: 300px;
  max-height: 85px;
  margin: 40px;
  margin-bottom: 20px;
  padding-top: 10px;
  font-family: cursive;
}
.stage_2 {
  display: flex;
  flex-wrap: wrap;
}
.stage_2 > .explore > img {
  max-width: 400px;
  margin: 20px;
  margin-bottom: 40px;
  margin-left: 40px;
  border-radius: 10px 10px 30px 50px;
}
.stage_2 > .explore > img:hover {
  /*https://madesoftacademy.com/*/
  transform: rotate(5deg);
}
.school_comp {
  outline: 1px solid lightcyan;
  max-width: 500px;
  margin-left: 80px;
  height: 750px;
  width: 500px;
  margin-bottom: 50px;
  padding: 25px;
}
.school_comp > h2 {
  padding-top: 30px;
  font-family: cursive;
}
.school_comp > hr {
  max-width: 200px;
  background-color: cyan;
  height: 4px;
  margin-bottom: 20px;
}
.school_comp > h3 {
  font-size: 25px;
  font-weight: lighter;
  padding: 15px;
  padding-left: 0px;
  font-family: cursive;
}
.Fname,
.Lname,
.SofOrigin,
.radio_1,
.continent,
.email {
  margin-bottom: 15px;
}
.Fname,
.Lname,
.email,
.SofOrigin,
.radio_1,
.continent {
  margin-bottom: 15px;
}
.interest,
.JavaScript,
.Php {
  margin-bottom: 15px;
}
input.Fname::placeholder,
input.Lname::placeholder,
input.email::placeholder input.SofOrigin::placeholder {
  color: lightgrey;
  font-size: 15px;
  font-family: cursive;
}
input.Fname,
input.Lname,
input.email,
input.SofOrigin {
  padding: 5px;
}
[for="Fname"],
[for="Lname"],
[for="SofOrigin"],
[for="email"],
[for="radiobttn"],
[for="continent"],
[class="interest"] {
  font-size: 17px;
  color: black;
  font-family: cursive;
}

[type="submit"] {
  font-size: 20px;
  font-weight: bold;
  font-family: cursive;
  padding: 10px;
  width: 200px;
  margin-top: 15px;
  color: black;
  border-radius: 0px 15px 15px 0px;
  background-color: lightcyan;
}
[type="submit"]:hover {
  background-color: wheat;
}
#back_button {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  width: 150px;
  margin-top: 15px;
  margin-left: 15px;
  color: black;
  font-family: cursive;
  border-radius: 15px 0px 0px 15px;
  background-color: lightcyan;
  text-decoration: none;
}
#back_button:hover {
  background-color: wheat;
}
[href="./index.html"] {
  text-decoration: none;
  color: black;
}
.div_spaces {
  height: 100px;
  width: 100%;
  background-color: whitesmoke;
  margin: 0px;
}

#para1{
    padding: 0px;
    line-height: 40px;
    margin-bottom: 20px;
    font-weight: lighter;  
    font-size: 20px;
}
#para2{
    line-height: 50px;
    font-weight: lighter;  
    font-size: 20px;    
}
.div_spaces_3 {
    width: 650px;
    height: 560px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    outline: 1px solid lightcyan;
    padding-left:45px;
    font-family: cursive
  }
.div_spaces_3 h1 {
    padding-top: 40px;
    margin-bottom: 25px;
    margin-top: 20px;   
  }
.div_spaces_2{   
    height: 600px;
    height: 760px;
    width: 100%;
    outline: 1px solid lightcyan;
    display: flex;
    flex-wrap: wrap;
}
.image_data_science{
    height: 350px;
    width: 400px;
}
.image_data_science img{
    height: 560px;
    width: 550px;
}
.image_data_science > img:hover{
    transform: rotate(25deg);
}
#Learn_More{
    padding: 10px;
    margin-top: 30px;
    width: 200px;
    font-size: 25px;
    background-color: whitesmoke;   
}
#Learn_More:hover{
    background-color: lightcyan;
}


.footers {
    font-family:'Times New Roman', Times, serif;
    outline: 1px solid lightcyan;
    margin-bottom: 0px;
    height: 330px;
    width: 100%;
    flex-wrap: wrap;
    background-color: lightcyan;
  }
  .footers h1 {
    
    outline: 1px solid lightcyan;
    max-width: 700px;
    margin: 30px auto;
    margin-bottom: 30px;
    padding: 5px;
  }
  .footers > h4 {   
    outline: 1px solid lightcyan;
    max-width: 550px;
    text-align: center;
    font-weight: lighter;
    margin: 0px auto;
    
    line-height: 25px;
   
  }
  .fa-linkedin, .fa-square-facebook, .fa-square-twitter, .fa-facebook-messenger,.fa-google, .fa-instagram, .fa-envelope,.fa-accusoft{
   color: blue;
   margin: 10px;
   text-decoration: none;
   }
   .inner_footer{
    outline: 1px solid lightcyan;
    width: 90%;
    padding: 20px;
    padding-left: 30px;
    margin-left: 50px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    font-size: large;
    background-color: whitesmoke;
    border-radius: 20px;
   }

